@font-face {
  font-family: "Frag";
  src: "./FragmentMono-Regular.ttf";
}
@font-face {
  font-family: "Marck";
  src: "./MarckScript-Regular.ttf";
}
@font-face {
  font-family: "SSP111";
  src: "./Source_Sans_Pro/SourceSansPro-Black.ttf";
}
@font-face {
  font-family: "SSP11";
  src: "./Source_Sans_Pro/SourceSansPro-Bold.ttf";
}
@font-face {
  font-family: "SSP1";
  src: "./Source_Sans_Pro/SourceSansPro-SemiBold.ttf";
}
@font-face {
  font-family: "SSP";
  src: "./Source_Sans_Pro/SourceSansPro-Regular.ttf";
}
@font-face {
  font-family: "SSP0";
  src: "./Source_Sans_Pro/SourceSansPro-Light.ttf";
}
@font-face {
  font-family: "SSP00";
  src: "./Source_Sans_Pro/SourceSansPro-ExtraLight.ttf";
}
@font-face {
  font-family: "SSP00";
  src: "./Source_Sans_Pro/SourceSansPro-ExtraLight.ttf";
}
